.nv {
  font-size: larger;
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
  /* background-color: white; */
}

.icon {
  width: 100px;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: lightskyblue;
  /* color: black; */
  font-weight: 900;
  padding: 0 10px;
}

.mz {
  margin: 0;
}

.link {
  color: green;
  font-weight: 500;
  text-decoration: none;
  padding: 7px;
}

.link:hover {
  background-color: rgba(230, 230, 250, 0.472);
  border-radius: 10px;
}
