.pic {
  width: 100%;
  height: 500px;

  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(45%);
}

.phelps {
  padding: 150px;
}
.phelps h1 {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.534);
}

.serv {
  text-align: center;
  background-color: gray;
  color: aliceblue;
  margin: 30px;
}
